body {
    overflow: scroll;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-digitacao {
    height: 130px;
    font-size: 20px;
}

.campo-desativado {
    background-color: lightgray;
}

.borda-verde {
    border: 5px solid yellowgreen;
}

.borda-vermelha {
    border: 5px solid red;
}

.icones {
    vertical-align: middle;
}

#placar {
    display: none;
}

#erro {
    display: none;
    color: red;
}

#spinner {
    display: none;
}

#campo-frase-id{
    width: 50px;
    margin-left: 20px;
}

#spinner-placar {
    display: none;
    width: 60px;
}

#botao-sync, #spinner-placar {
    float: right;
}

#frases {
    margin: 20px 5px;
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

#select-usuarios {
    width: 300px;
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
}